{{ define "main" }}
<main id="single">
    <h1>Find Singapore primary schools within 1 and 2km radius</h1>
    <section class="post-content">
	    
	    <input id="postalCode" type="textbox" value="Singapore">
<input id="postalCodeSubmit" type="button" value="Submit" onclick="getLatLong()">

<p>A service for home buyers to check if their dream home is within 1 or 2 km of their choice primary school for their children. The 1km radius is in <b><font color="red">RED</font></b> and the 2km radius is in <b><font color="blue">BLUE</font></b>.</p>

    <p><div id="map" style="width: 100%; height: 560px;"></div></p>

    <p><small>The information is provided "as-is" without warranty of any kind. We do not accept any responsibility or liability for the accuracy, completeness, legality, or reliability of the information contained. Please check with the schools concerned about the status of your home location.</small></p>

    </section>
</main>
{{ end }}         