{{ define "main" }}
<main id="home">
    <div>
        <center><img width="75%" src="{{ "img/hello.jpeg" | absURL }}" /></center>
        <div id="content">
            <h2>Arrange for your free consultation today</h2>
            <center><form name="home" method="POST" netlify><input name="name" type="text" placeholder="Name" required=""> <input type="text" name="number" placeholder="Mobile Number" required=""> <input type="submit" value="Submit" /></form></center> 
        </div>
    </div>
</main>
{{ end }}
