{{ partial "head" . }}
  <body onload="initialize()">
    <div id="wrap">

      <!-- Header -->
      {{ partial "header" . }}
      {{ if isset .Params "showpagemeta" }}
        {{ .Render "projects" }}
      {{ else }}
      <div class="container">	      
        <div class="blog-post">
          <h3>
            {{ .Title }}
          </h3>
        </div>
        <div class="blog-title">
          <h4>
	          <div id="map" style="width: 780px; height: 560px;"></div>          	          
          </h4>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
	          <input id="postalCode" type="textbox" value="Singapore">
	          <input id="postalCodeSubmit" type="button" value="Submit" onclick="getLatLong()">
          </div>
          <hr>
        </div>
      </div>
      {{ end }}
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}
    
  </body>
</html>